h1, h2, h3, h4, h5 {
    text-align: center;
}

.m-0 {
    margin: 0;
}

.button-center {
    display: block;
    margin: 0 auto 20px;
}

.div-dark-square {
    width: 100px;
    height: 100px;
    background-color: #789952;
    display: inline-block;
}

.div-light-square {
    width: 100px;
    height: 100px;
    background-color: #ededd1;
    display: inline-block;
}

.div-selected-square {
    width: 100px;
    height: 100px;
    background-color: #ea7e6a;
    display: inline-block;
}

.box-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    /*mobile*/

    .div-dark-square {
        width: 50px;
        height: 50px;
        background-color: #789952;
        display: inline-block;
    }

    .div-light-square {
        width: 50px;
        height: 50px;
        background-color: #ededd1;
        display: inline-block;
    }

    .div-selected-square {
        width: 50px;
        height: 50px;
        background-color: #ea7e6a;
        display: inline-block;
    }
}
